#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: center;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #000000;
  position: fixed;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5em;
  z-index: 5;
}

.Home {
  text-align: center;
  margin: 1em auto;
}

.welcome {
  margin: 0 auto;
}

.jumbotron {
  margin: 2em auto;
  padding: 4em 3em;
}

.face-photo {
  max-width: 8em;
  max-height: 10em;
}
